.perspective {
  perspective: 2000px;
  transform-style: preserve-3d;
}

.preserve-3d {
  transform-style: preserve-3d;
  position: relative;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 